---
import { getCollection } from "astro:content";
import Card from "../../components/Card.astro";
import Footer from "../../components/Footer.astro";
import Header from "../../components/Header.astro";
import Layout from "../../layouts/Layout.astro";
const meta = "<title>Posts</title>";
const allPosts = await getCollection("posts");
---
<Layout meta={meta}>
  <Header />
  <main>
    <h1>Posts</h1>
    <section>
      <ul>
        {allPosts.map((post) => (
          <li>
            <Card 
              title={post.data.title} 
              slug={post.id} 
              date={post.data.updatedAt || post.data.publishedAt} 
              base="/posts" 
              tags={post.data.tag} 
            />
          </li>
        ))}
      </ul>
    </section>
  </main>
  <Footer />
</Layout>
