---
import { getCollection } from "astro:content";
import Card from "../../components/Card.astro";
import Footer from "../../components/Footer.astro";
import Header from "../../components/Header.astro";
import Layout from "../../layouts/Layout.astro";

const allBlogPosts = await getCollection("blog");
---
<Layout>
  <Header />
  <main>
    <h1>Blog</h1>
    <section>
      <ul>
        {allBlogPosts.map((post) => (
          <li>
            <Card 
              title={post.data.title} 
              slug={post.id} 
              date={post.data.updatedAt || post.data.publishedAt} 
              base="/blog" 
              tags={post.data.tag} 
            />
          </li>
        ))}
      </ul>
    </section>
  </main>
  <Footer />
</Layout>
