@import "tailwindcss";
@custom-variant dark (&:where(.darkmode, .darkmode *));
@theme {
	--font-main: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
		"Hiragino Sans", "BIZ UDPGothic", Meiryo, sans-serif;
	--color-*: initial;
	--color-primary: #4559A3;
	--color-secondary: #A38F45;
	--color-bg: #F4F5F7;
	--color-bg-dark: #171920;
	--color-text:#0f1419;
	--color-text-dark:#E8EAED;
}
body {
	@apply font-main bg-bg dark:bg-bg-dark;
}
.prose {
	h1 {
		@apply text-3xl font-bold;
	}
	h2 {
		@apply text-2xl font-bold;
	}
	h3 {
		@apply text-xl font-bold;
	}
	p {
		@apply text-base;
	}
	a {
		@apply text-primary;
	}
	a:hover {
		@apply text-primary;
	}
	cite {
		@apply text-sm indent-2;
	}
	blockquote {
		@apply border-l-4 border-secondary pl-2 my-4;
	}
	ul {
		@apply list-disc list-inside;
	}
	ol {
		@apply list-decimal list-inside;
	}
}
