---
import { getCollection } from "astro:content";
import Card from "../components/Card.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
const meta = "<title>satoru.work</title>";
const allPosts = await getCollection("posts");
---
<Layout meta={meta}>
	<Header />
	<main>
	<div class="flex flex-col md:flex-row justify-center mx-auto pt-2 px-2 md:px-6">
		<div class="flex flex-col item-center">
			<nav>
				<ul class="flex flex-col">
					<li class="md:mr-4">
						<a href="/" class="text-2xl">Home</a>
					</li>
					<li class="md:mr-4">
						<a href="/about" class="text-2xl">About</a>
					</li>
					<li class="md:mr-4">
						<a href="/posts" class="text-2xl">Posts</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
	<div class="item-center w-full md:w-4/5 md:ml-8 md:mr-auto mx-auto">
	<h2>Posts</h2>
	<ul>
		{allPosts.map((post) => (
		<li><Card title={post.data.title} slug={post.id} date={(post.data.updatedAt ?? post.data.publishedAt)?.toISOString()} base="/posts" tags={post.data.tag} /></li>
		))}
	</div>
	</main>
	<Footer />
</Layout>
