---
import { Image } from "astro:assets";
import cc0 from "../assets/CC0_button.svg";
---
<footer class="flex justify-around">
	<span class="text-2xl"> Anti-copyright</span>
	<span class="text-2xl"> or </span>
	<div class="flex justify-between">
	<span class="text-2xl">CC0 1.0</span>
	<Image src={cc0} alt="CC0" />
	</div>
</footer>
