---
import { Icon } from 'astro-icon/components'
---
<header>
	<div class="flex justify-between h-[70px]">
		<a class="flex-2/5 text-5xl pl-4 py-auto" href="/">satoru.work</a>
		<Icon class="flex-1/5 pr-4 h-[90%] w-fit py-auto" name="ic:baseline-search" />
	</div>
</header>
