---
import { Icon } from "astro-icon:components";
---
<header>
	<div class="flex justify-between">
		<a class="flex-2/5" href="/">satoru.work</a>
		<Icon class="flex-1/5" name="ic:baseline-search" />
	</div>
</header>
