---
import { DarkMode } from "accessible-astro-components";
import { Icon } from "astro-icon/components";
---
<header>
    <div class="flex justify-between items-center h-16 px-4">
        <a href="/" class="text-4xl font-bold">satoru.work</a>
        <div class="flex items-center">
		<a href="/search">
            <Icon class="h-8 w-8" name="ic:baseline-search" />
		</a>
	    <DarkMode class="h-8 w-8" />
        </div>
    </div>
</header>
