---
import Layout from '../../layouts/Layout.astro
import Header from '../../components/Header.astro
import Footer from '../../components/Footer.astro
import { getCollection} from 'astro:content';
const allBlogPosts = await getCollection("philosophy");
import Card from '../../components/Card.astro
---
<Layout>
  <Header />
  <main>
    <h1>Blog</h1>
    <section>
	    <ul>
      {allBlogPosts.map((post) => (
       			<li><Card title={post.data.title} slug={post.id} date={post.data.updatedAt ?? post.data.publishedAt} base="/philosophy" tags={post.data.tag} /></li>
      ))}
	    </ul>
    </section>
  </main>
  <Footer />
